*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color-one : rgb(21, 117, 17);
}

body{
    width : 100%;
    height : 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#container{
    width : 90%;
    height : 100vh;
    margin-left: 20px;
    margin-right : 20px;
    /* border : solid black 1px; */
}


#table-card{
    width : 100%;
    height : 80px;
    padding : 20px;
    display: flex;
    justify-content: center;
}

#table , #card{
    height : 60px;
    width: 100px;
    border-radius: 11px;
    border : none;
    margin : 0 10px;
    text-align: center;
    font-size : 18px;
    background-color: rgb(96, 169, 197);
}

#name-and-plus-btn{
    display: flex;
    justify-content: space-between;
    padding : 0 20px;
    margin-bottom : 20px;
}

#plus-btn{
    width : 40px;
    height: 40px;
    border : solid 4px var(--color-one); 
}

#plus-btn i{
    font-size : 24px;
    color : var(--color-one);
}

#Book-actual-info{
    /* it will contain all the columns */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.columns{
    width : 100%;
    height: 100%;
    flex : 1;
}

/* 
#table-col-names > div{
    /* means all the divs inside the table col names */
    /* flex : 1;
} */ 

.to-be-bordered{
    width: 150px;
    height : 50px;
    margin-bottom: 20px;
    text-align: center;
    flex : 1;
    padding : 10px;
    border : solid rgb(24, 23, 23) 2px;
    border-radius: 6px;
}

#back-btn{
    width : 60px;
    height : 40px;
    padding : 10px;
    font-size: 20px;
    color : white;
    background-color: rgb(31, 184, 107);
    border : none;
    border-radius: 5px;
}

label{
    display: block;
    font-size: large;
}

input{
    margin: 10px 10px;
    display: block;
    height : 50px;
    width : 100%;
}

#save-btn{
    width: 80%;
    height: 40px;
    margin-left : 50px;
}


@media (max-width : 1000px) {
    /* make the author and operation to be none  */
    #added-to-column-author , #added-to-column-publish-year{
        /* width : 0; */
        display: none;
    }
    
}





